<footer>
  <div style="background-color: rgb(236, 240, 243)">
    <div class="row">
      <div id="Phone4" class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <span id="nan">{{ "We_re_Always_Here_To Help" | translate }}</span
        ><br />
        <span id="nan2"
          >{{
            "Reach_out_to_us_through_any_of_these_support_channels" | translate
          }}
          :</span
        >
      </div>

      <div class="col-3"></div>

      <!-- ----------------------------------------------------------------------- -->
      <div id="Phone" class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <!-- Adding dir="rtl" for right-to-left text -->

        <a class="nav-link" href="#">
          <i class="fa-solid fa-phone"></i>
          <span>{{ "PHONE_SUPPORT" | translate }}</span>
          <br />
          <span id="em">16358</span>
        </a>
      </div>

      <div id="Phone2" class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <!-- Adding dir="rtl" for right-to-left text -->

        <a class="nav-link" href="#">
          <i class="fa-regular fa-envelope"></i>
          <span>{{ "EMAIL_SUPPORT" | translate }}</span>
          <br />
          <span id="em"> egyptnoon.com</span>
        </a>
      </div>

      <div id="Phone3" class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <!-- Adding dir="rtl" for right-to-left text -->

        <a class="nav-link" href="#">
          <i class="fa-solid fa-circle-info"></i>
          <span>{{ "HELP_CENTER" | translate }}</span>
          <br />
          <span id="em">help.noon.com</span>
        </a>
      </div>
    </div>
  </div>

  <section>
    <div id="bist" class="row">
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "ELECTRONICS" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Mobiles" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Tablets" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Laptops" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Home_Appliances" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Camera_Photo_Video" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Televisions" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Headphones" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Video_Games" | translate }}</span></a
          >
        </div>
      </div>

      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "FASHION" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Womens_Fashion" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Mens_Fashion" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Girls_Fashion" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Boys_Fashion" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Mens_Watches" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Womens_Watches" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Eyewear" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Bags_Luggage" | translate }}</span></a
          >
        </div>
      </div>
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "HOME_AND_KITCHEN" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Kitchen_Dining" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Bedding" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Bath" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Home_Decor" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Home_Appliances" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Tools_Home_Improvement" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Patio_Lawn_Garden" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Home_Storage_Organisation" | translate }}</span></a
          >
        </div>
      </div>
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "BEAUTY" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Womens_Fragrance" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Mens_Fragrance" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Make_Up" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Haircare" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Skincare" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Personal_Care" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Tools_Accessories" | translate }}</span></a
          >
        </div>
      </div>
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "KIDS_BABY_TOYS" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Strollers_Prams_Accessories" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span> {{ "Car_Seats" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Baby_Clothing" | translate }} </span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Feeding" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Bathing_Skincare" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Diapering" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Baby_Toddler_Toys" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Toys_Games" | translate }}</span></a
          >
        </div>
      </div>
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
        <h4 class="boo" id="ma10">{{ "TOP_BRANDS" | translate }}</h4>
        <div id="ma10" class="bist2">
          <a class="nav-link" href=""
            ><span>{{ "Apple" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Samsung" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Nike" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Ray_Ban" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Tefal" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "LOreal_Paris" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Chicco" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Tornado" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "CIB_Noon_Credit_Card" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Ramadan_Sale" | translate }}</span></a
          >
          <a class="nav-link" href=""
            ><span>{{ "Mothers_Day_Sale" | translate }}</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <div id="foo" class="row">
    <div class="col-2"></div>

    <div id="shoping" class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
      <span id="sh">{{ "SHOP_ON_THE_GO" | translate }}</span
      ><br />
      <a href="https://appgallery.huawei.com/app/C100441245" target="_blank"
        ><img
          class="APP"
          src="https://f.nooncdn.com/s/app/com/common/images/logos/app-store.svg"
          alt=""
      /></a>
      <a
        href="https://play.google.com/store/apps/details?id=com.noon.buyerapp"
        target="_blank"
        ><img
          class="APP"
          src="https://f.nooncdn.com/s/app/com/common/images/logos/google-play.svg"
          alt=""
      /></a>
      <a
        href="https://apps.apple.com/us/app/noon-shopping-%D9%86%D9%88%D9%86-%D9%84%D9%84%D8%AA%D8%B3%D9%88%D9%82/id1269038866?ls=1"
        target="_blank"
        ><img
          class="APP"
          src="https://f.nooncdn.com/s/app/com/noon/images/Huawei-icon.png"
          alt=""
      /></a>
    </div>
    <div class="col-2"></div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <span id="Us">{{ "CONNECT_WITH_US" | translate }}</span
      ><br />
      <a
        href="https://www.linkedin.com/uas/login?session_redirect=%2Fcompany%2F18045372%2F"
        target="_blank"
        ><i id="send1" class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/noon/" target="_blank"
        ><i id="send2" class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://twitter.com/noon/" target="_blank"
        ><i id="send3" class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.facebook.com/noon/" target="_blank"
        ><i id="send4" class="fa-brands fa-facebook"></i
      ></a>
    </div>

    <div class="col-1"></div>
  </div>

  <div id="End" class="row">
    <div id="noon" class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <a class="all" class="nav-link" href=""
        ><span style="margin-left: 15px">{{
          "©_2024_noon_All_Rights_Reserved" | translate
        }}</span></a
      >
    </div>

    <div id="cond7" class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <img
        class="imgend"
        src="https://f.nooncdn.com/s/app/com/noon/design-system/payment-methods-v2/card-mastercard.svg"
        alt=""
      />
      <img
        class="imgend"
        src="https://f.nooncdn.com/s/app/com/noon/design-system/payment-methods-v2/card-visa.svg"
        alt=""
      />
      <img
        class="imgend"
        src="https://f.nooncdn.com/s/app/com/noon/design-system/payment-methods-v2/valu_v2.svg"
        alt=""
      />
      <img
        class="imgend"
        src="https://f.nooncdn.com/s/app/com/noon/design-system/payment-methods-v2/card-amex.svg"
        alt=""
      />
      <img
        class="imgend"
        src="https://f.nooncdn.com/s/app/com/noon/design-system/payment-methods-v2/cod-en.svg"
        alt=""
      />
    </div>

    <!-- -------------------------------------------- -->

    <div
      id="cond1"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span>{{ "Careers" | translate }}</span></a
      >
    </div>
    <div
      id="cond2"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span>{{ "Warranty_Policy" | translate }}</span></a
      >
    </div>
    <div
      id="cond3"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span>{{ "Sell_with_us" | translate }}</span></a
      >
    </div>
    <div
      id="cond4"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span>{{ "Terms_of_Use" | translate }} </span></a
      >
    </div>
    <div
      id="cond5"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span>{{ "Terms_of_Sale" | translate }}</span></a
      >
    </div>
    <div
      id="cond6"
      class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-12"
      dir="rtl"
    >
      <a class="nav-link" href=""
        ><span> {{ "Privacy_Policy" | translate }}</span></a
      >
    </div>
  </div>
</footer>
