<h2 class="ms-2 fw-bold">{{'BrandStores'| translate}}</h2>



<div class="body-top mt-3">
  <div class="d-flex justify-content-between">
    <div class="banner-container col-md-3 col-sm-6">
      <a href="https://shop.eva-cosmetics.com/en">
        <img src="{{'Eva'| translate}}"  alt="/eva-store" width="100%" height="100%">
      </a>
    </div>
    <div class="banner-container col-md-3 col-sm-6">
      <a href="https://www.defacto.com/en-eg?target=adwords&gad_source=1&gclid=CjwKCAjw57exBhAsEiwAaIxaZuJQsy3rKt2iHByD26Uchg8Jw0IO-AfAdePPlwQ2wL3CH6cXvYVQnRoCpZAQAvD_BwE">
        <img src="{{'defacto'| translate}}" alt="/la-roche-posay-store" width="100%" height="100%">
      </a>
    </div>
    <div class="banner-container col-md-3 col-sm-6">
      <a href="https://www.elarabygroup.com/ar/home?gad_source=1&gclid=CjwKCAjw57exBhAsEiwAaIxaZgjKkwuYB4vJ3f9ZO0t0Imr4YZ3ghESpUTENSrsmXBf0-tmz_QeRUxoCT3AQAvD_BwE">
        <img src="{{'ElAraby'| translate}}"  alt="/eg-btech" width="100%" height="100%">
      </a>
    </div>
    <div class="banner-container col-md-3 col-sm-6">
      <a href="https://www.laroche-posay.me/en/anthelios?utm_source=google&utm_medium=paid_search&utm_content=&utm_campaign=&utm_term=english&gad_source=1&gclid=CjwKCAjw57exBhAsEiwAaIxaZgPr4VSNxQ8jC4pzAxO0E_fbbyoheWESb54d_mOT3mO2UVl5jmdWexoCSBUQAvD_BwE">
        <img src="{{'leRoche'| translate}}"  alt="/eg-btech" width="100%" height="100%">
      </a>
    </div>


  </div>
</div>

<div class="body-mid mt-3">
<div class="d-flex justify-content-between">
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://eparkville.com/collections/starville">
      <img src="{{'Starville'| translate}}"  alt="/elaraby" width="100%" height="100%">
    </a>
  </div>
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://www.lipton.com/us/en/">
      <img src="{{'lipton'| translate}}"  alt="/lipton-brand-store" width="100%" height="100%">
    </a>
  </div>
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://www.kikocosmetics.com/en-us/">
      <img src="{{'kiko'| translate}}"  alt="/kiko-milano" width="100%" height="100%">
    </a>
  </div>
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://www.loreal-paris-me.com/en/the-new-hyaluronic-hydra-technology?utm_source=Search&utm_medium=CPC&utm_campaign=Elvive&gad_source=1&gclid=CjwKCAjw57exBhAsEiwAaIxaZohF4Ds8z9UHQDEv0mLPCuRsmHVLL7TawnJcivUUsh_w6KP7qbdR3RoCyHUQAvD_BwE">
      <img src="{{'loreal'| translate}}"  alt="/kiko-milano" width="100%" height="100%">
    </a>
  </div>
</div>


</div>

<div class="body-butt mt-3">
<div class="d-flex justify-content-between">
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://www.nivea-me.com/en-me">
      <img src="{{'nivea'| translate}}"  alt="/nivea-store" width="100%" height="100%">
    </a>
  </div>
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://fresh.com.eg/en">
      <img src="{{'fresh'| translate}}"  alt="/eg-fresh-store" width="100%" height="100%">
    </a>
  </div>
  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://helalgroup.store/collections/all-prouducts">
      <img src="{{'elhelal'| translate}}"  alt="/helal-and-golden-star" width="100%" height="100%">
    </a>
  </div>

  <div class="banner-container col-md-3 col-sm-6">
    <a href="https://btech.com/en/?gad_source=1">
      <img src="{{'btech'| translate}}"  alt="/helal-and-golden-star" width="100%" height="100%">
    </a>
  </div>
</div>

</div>












