.navbar{
  background-color: #feee00;
}
.down .down-content{
 background-color: #f9f9f9; 

}
.payment-method {
  /* border: 1px solid #ccc;  */
  padding: 30px; 
  background-color: #f9f9f9; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-method:hover {
  background-color: #eaeaea; 
}
.payment-method:focus {
  outline: 2px solid dodgerblue; 
}



.links a{
text-decoration: none;
color: gray;
}
.links a:hover{
  text-decoration: underline;
}
