<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="col-12 d-flex justify-content-around align-items-center">
      <div class="col-3">
        <a class="navbar-brand fw-bold" href="#">
          <i class="fa fa-arrow-left me-2"></i
          >{{ "navbar_title" | translate }}</a
        >
      </div>
      <div class="col-4">
        <span class="fw-bold me-1">{{ "secure_checkout" | translate }}</span>
        <span class="border-end me-1 border-dark"></span>
        <span>{{ "for_assistance" | translate }}</span>
      </div>

      <div class="col-3 text-end">
        <img
          class="w-25"
          src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-en.svg"
          alt="noon"
        />
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <!-- <tr *ngFor="let cartItem of cart.cartItems">
            <td class="align-middle">
              <img
                [src]="cartItem.product.images[0]"
                alt=""
                style="width: 50px"
              />
              {{ cartItem.productName }}
            </td>
            <td class="align-middle">$ Price: {{ cartItem.productPrice }}</td>
            <td class="align-middle">
              <div class="input-group quantity mx-auto" style="width: 100px">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-primary btn-minus"  (click)="reductionNumber()">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm bg-secondary text-center"
                  [value]="cartItem.quantity"
                />
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-primary btn-plus"  (click)="incrementNumber()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            
            <td class="align-middle">{{ cartItem.quantity }}</td>
            <td class="align-middle">
              <button
                class="btn btn-sm btn-primary"
                (click)="RemoveFromCart(cartItem.cartItemId)"
              >
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr> -->
          <tr *ngFor="let cartItem of cart.cartItems; let i = index">
            <td class="align-middle">
              <img [src]="cartItem.product.images[0]" alt="" style="width: 50px" />
              {{ cartItem.productName }}
            </td>
            <td class="align-middle">$ Price: {{ cartItem.productPrice }}</td>
            <td class="align-middle">
              <div class="input-group quantity mx-auto" style="width: 100px">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-primary btn-minus" (click)="reductionNumber(cartItem)">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm bg-secondary text-center"
                  [value]="cartItem.quantity"
                />
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-primary btn-plus" (click)="incrementNumber(cartItem)">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            <td class="align-middle">{{ cartItem.quantity }}</td>
            <td class="align-middle">
              <button class="btn btn-sm btn-primary" (click)="RemoveFromCart(cartItem.cartItemId)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">
              <strong> {{ "Shipping_Fee" | translate }}</strong> 
              {{ cart.totalAmount }}
            </h6>
            <h6 class="font-weight-medium">{{ "Shipping_Fee" | translate }} </h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <button
            class="btn btn-block btn-primary my-3 py-3"
            (click)="goToCheckout()"
          >
            {{ "CHECKOUT" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
